<div class="col mb-3">
    <div class="row border rounded m-0 shadow bg-white mt-4">
        <div class="col-md-3 p-0">
            <a href="/restaurants/<%= id %>">
                <img src="assets/img/averroes.jpg" class="img-thumbnail w-100 border-0 bg-white">
            </a>
        </div>
        <div class="col-md-9 pt-4 pb-4">
            <a class="h4 text-decoration-none text-dark" href="/restaurants/<%= id %>"><%= name %></a>
            <p class="text-muted small pt-1">Ultima actualización: <%= updatedAt %></p>
            <p class="text-muted"></p>
            <p><%= description %></p>
        </div>
        <% if(typeof manage != 'undefined' && manage == true){ %>
        <div class="col-12 border-top pl-3 pr-3 pt-2 pb-2 text-center" style="background-color: #F7F7F7;">
            <a href="/restaurants/<%= id %>"
                class="btn btn-primary btn-sm"><i class="bi bi-eye"></i> Ver restaurante</a>

            <a href="/restaurants/<%= id %>/edit"
                class="btn btn-success btn-sm "><i class="bi bi-pencil-square"></i> Editar restaurante</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#restaurant<%=id%>">
                <i class="bi bi-trash"></i> Eliminar restaurante
            </button>
            
            <%- include('./modal', {
                id: 'restaurant'+id, 
                title: 'Eliminar "'+name+'"',
                description: '¿Seguro que quieres eliminar el restaurante '+name+'?',
                cancel: 'Cancelar',
                confirm: 'Si, eliminar',
                confirmColor: 'danger',
                cancelColor: 'secondary',
                action: '/restaurants/'+id+'/delete',
                method: 'post'
            })%>
        </div>
        <% } %>
    </div>
</div>