<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/header') %>
    <title>QrRestaurant</title>
</head>
<body>
    <%- include('../partials/primaryMenu') %>

    <div class="container">
        <form action="/restaurants/<%= id %>/addToQueue" method="post">
        <% if(restaurants.length > 0){ %>
       <h3 class="mt-4">Alternativas al restaurante '<%=name%>'</h3>
       <!--<h6>Actualmente en el restaurante hay X personas. Puedes esperar o dirigirte a alguno de lo siguientes restaurantes alternativos:</h6>
       <button class="btn btn-primary">Prefiero esperar. Añadirme a la cola</button>-->

       <% restaurants.forEach(restaurant => {%>
        <%- include('../partials/restaurantCard', {
          id: restaurant.id,
          name: restaurant.name,
          address: restaurant.address,
          city: restaurant.city,
          description: restaurant.description,
          menu: restaurant.menu,
          category: restaurant.category,
          photos: restaurant.photos,
          updatedAt: restaurant.updatedAt
        }) %>
        
    <%}) %>
    <% } else{ %>
        <h3 class="mt-4">El restaurante '<%=name%>' se encuentra completo</h3>
        <h6>Actualmente en el restaurante hay X personas. Si lo desea puede esperar en la cola. Le avisaremos cuando pueda entrar.</h6>
        <button class="btn btn-primary">Añadirme a la cola</button>
    <%}%>
    </form>
    </div>
    

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>