<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/header') %>
    <title>QrRestaurant</title>
</head>
<body>
  <%- include('../partials/primaryMenu') %>

  <div class="container">
    <% restaurants.forEach(restaurant => {%>
        <%- include('../partials/restaurantCard', {
          id: restaurant.id,
          name: restaurant.name,
          address: restaurant.address,
          city: restaurant.city,
          description: restaurant.description,
          menu: restaurant.menu,
          category: restaurant.category,
          photos: restaurant.photos,
          updatedAt: restaurant.updatedAt
        }) %>
    <%}) %>
  </div>

    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>