<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/header') %>
    <title>QrRestaurant</title>
</head>
<body>
  <%- include('../partials/primaryMenu') %>
  <div class="container">
    <% if(typeof danger != 'undefined'){ %>
      <%- include('../partials/alert', {type: 'danger', message: danger}) %>
    <% } %>

    <% if(typeof message != 'undefined'){ %>
      <%- include('../partials/alert', {type: 'success', message}) %>
    <% } %>

    <% if(typeof message == 'undefined' && typeof dange == 'undefined'){%>
      <%- include('../partials/alert', {type: 'info', message: 'Desde <strong>QrRestaurant</strong> queremos ayudar a los restaurantes a controlar el aforo. Visita nuestras secciones de <a href="/faqs">preguntas frecuentes</a> y <a href="/about-us">quiénes somos</a> para más información.'}) %>
    <% } %>

    <%- include('../partials/search') %>

    <p>Desde QrRestaurant queremos ayudar a los restaurantes a controlar el aforo. Para acceder a un restaurante deber&aacute;s registrarte en el sistema, iniciar sesi&oacute;n y generar un QR</p>
    
    <% restaurants.forEach(restaurant => {%>
        <%- include('../partials/restaurantCard', {
          id: restaurant.id,
          name: restaurant.name,
          address: restaurant.address,
          city: restaurant.city,
          description: restaurant.description,
          menu: restaurant.menu,
          category: restaurant.category,
          photos: restaurant.photos,
          updatedAt: restaurant.updatedAt
        }) %>
    <%}) %>

  </div>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>