<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/header') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    <title>QrRestaurant</title>
</head>
<body>
    <%- include('../partials/primaryMenu') %>

    <div class="container">
        <% if(typeof danger != 'undefined'){ %>
            <%- include('../partials/alert', {type: 'danger', message: danger}) %>
        <% } %>
      
        <% if(typeof message != 'undefined'){ %>
            <%- include('../partials/alert', {type: 'success', message}) %>
        <% } %>
        <div class="row">
            <div class="col-lg-8">
                <div class="card mt-3" >
                    <%- include('../partials/carousel', {photos, path: '/assets/img/'}) %> 
                    <div class="card-body">
                        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Información</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Historial</button>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h5 class="card-title"><%= name %>  <span class="badge bg-warning">Comida <%= foodType.name %></span></h5>
                                <p class="card-text"><%= description %></p>
                                <h4 class="h6">Carta del restaurante:</h4>
                                <div id="adobe-dc-view" style="width: 100%; height: 500px;"></div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <h5 class="card-title">Historial del restaurante</h5>

                                <p>La duración media de la estancia es: <%= averageStay %> h</p> 
                                <canvas class="mb-5" id="popChart" width="100%"></canvas>
                                <hr>    
                                <canvas class="mb-5" id="peopleHour" width="100%"></canvas>    
                            </div>
                          </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-4">
                <div class="card text-dark bg-light mb-3 mt-3">
                    <div class="card-header">Aforo</div>
                    <div class="card-body">
                        <p class="card-text text-center">Este restaurante tiene un aforo de <%= capacity%> personas. Actualmente hay <%= freeSeats %> sitios disponibles.</p>
                    </div>
                    </div>
                    <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Valoraciones</div>
                    <div class="card-body">

                        <p class="text-center">
                            Valoración media: 
                            <% for(var i=0; i<5; i++){ %>     
                                <i class="bi bi-<%= (average-i>=1) ? 'star-fill' : (average-i<=0) ? 'star' : 'star-half' %> text-warning"></i>
                            <% } %>
                     
                        </p>
                        <form action="/restaurants/<%= id %>/rate" method="post">
                            <p class="card-text mt-3 text-center">Mi valoración: <input type="number" max="5" min="1" value="<%= (typeof currentUserRating !== 'undefined' && currentUserRating != null) ? currentUserRating.rating : '1'  %>" name="rating" > estrellas</p>
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Valorar</button>
                            </div>
                            <% if(typeof currentUserRating !== 'undefined' && currentUserRating != null){ %>
                                <p class="text-center small text-danger">Nota: Ya has valorado este sitio con <%= currentUserRating.rating  %> extrellas. Si añades otra valoración, la anterior se eliminará.</p>
                            <% } %>
                                
                        </form>

                    </div>
                    </div>
                    <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Ubicación: </div>
                    <div class="card-body">
                        <h5 class="card-title">Google Maps</h5>
                        <p class="card-text">
                        <div style="width: 100%">
                            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=<%= encodeURIComponent(address+', '+city+'('+name+')') %>&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <a href="https://www.google.com/maps/search/<%= encodeURIComponent(address+', '+city+' ('+name+')') %>" target="_blank" class="btn btn-success">Calcular ruta</a>
                        </div>
                        </p>
                    </div>
                    </div>
                </div>
        </div>
    </div>

    <input type="hidden" value="<%=id%>" id="restaurantId">

    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
    <script type="text/javascript">
    document.addEventListener("adobe_dc_view_sdk.ready", function(){
        let local = '09634867302b42fc9213576a3d842671';
        let heroku = 'bf19625e83894f00b9a073e4488126f6';
        let apiKey = '';
        if(location.hostname == 'localhost') apiKey = local;
        else if(location.hostname == 'qrrestaurant.herokuapp.com') apiKey = heroku;
        var adobeDCView = new AdobeDC.View({clientId: apiKey, divId: "adobe-dc-view"});
        adobeDCView.previewFile({
        content:{ location: 
            { url: "/assets/restaurantMenu/<%= menu %>"}},
            metaData:{fileName: "<%= menu %>"}
        },
        {
        embedMode: "IN_LINE",
        showPageControls: false,
        showDownloadPDF: true,
        defaultViewMode: 'SINGLE_PAGE'


        });
    });
    </script>
    <script src="/js/chartPeopleByHour.js"></script>
    <script src="/js/chartPeopleByDay.js"></script>



    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>