<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/header') %>
    <title>QrRestaurant</title>
</head>

<body>
  <%- include('../partials/primaryMenu') %>
    <div class="mt-5 text-center" style="max-width: 400px; margin: 0 auto;" id="qr">
      <h3 class="mt-5" id="title">Pasa el código QR por el lector: </h3>
      <img src="<%= qrData %>" width="100%">
      <input type="hidden" value="<%= session.currentUser.dni %>" id="dni"/>
      <input type="hidden" value="<%= companions %>" id="companions"/>
      <input type="hidden" id="restaurantId"/>

      <div class="d-grid gap-2 mb-3" id='goBack'>
        <a class="btn btn-danger mt-3" href="/qr-code">Volver atrás</a>
      </div>
    </div>

    <div hidden id="options" class="container">
      <p>Actualmente el restaurante al que intentas acceder está lleno, puedes esperar a que haya aforo suficiente para entrar añadiendote a la cola o ir a un restaurante alternativo.</p>
      <a href="#" class="btn btn-secondary" id="otherRestaurants">Mostrar alternativas</a>
      <button class="btn btn-primary" id="addToQueue">Añadirme a la cola</button>
    </div>

    <div hidden id="queue" class="container">
      <%- include('../partials/alert', {type: 'info', message: 'Has sido añadido satisfactoriamente a la cola. Te avisaremos cuando puedas entrar'}) %>
      <p>Personas por delante tuya: <span id="personasPorDelante"></span></p>
    </div>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <script src="https://cdn.socket.io/4.0.2/socket.io.min.js" integrity="sha384-Bkt72xz1toXkj/oEiOgkQwWKbvNYxTNWMqdon3ejP6gwq53zSo48nW5xACmeDV0F" crossorigin="anonymous"></script>
    <script>
        let dni = document.getElementById('dni');
        let otherRestaurants = document.getElementById('otherRestaurants');
        let options = document.getElementById('options');
        let qr = document.getElementById('qr');
        let addToQueue = document.getElementById('addToQueue');
        let restaurantId = document.getElementById('restaurantId');
        let companions = document.getElementById('companions')
        let queueView = document.getElementById('queue')
        let personasPorDelante = document.getElementById('personasPorDelante')
        let goBack = document.getElementById('goBack')
        let title = document.getElementById('title');

        const socket = io();
        socket.on('success', (data) => console.log(data))
        socket.on('error', (data) => console.log(data))
        socket.on('qr', (data) => {
          console.log(data);
          if(data.status == 'capacityExceeded'){
            otherRestaurants.href = '/restaurants/'+data.restaurant+'/alternatives';
            options.hidden = false;
            qr.hidden = true;
            restaurantId.value = data.restaurant;
          }
        })

        socket.on('yourTurn', (data) => {
          qr.hidden = false;
          queueView.hidden = true;
          title.innerText = 'Ya es tu turno. Pasa el QR por el lector de nuevo: '
          goBack.hidden = true;
        })

        socket.on('oneLess', (data)=>{
          personasPorDelante.innerHTML = parseInt(personasPorDelante.innerHTML)-1
        })

        socket.emit('init', {dni: dni.value})

        addToQueue.addEventListener('click', (event) => {
          let xhr = new XMLHttpRequest();
          xhr.open("POST", "/restaurants/"+restaurantId.value+"/addToQueue");
          let formData = new FormData();
          formData.append('companions', companions.value)
          formData.append('id', restaurantId.value)
          formData.append('dni', dni.value)
          xhr.send(formData);
          xhr.responseType = 'json';

          xhr.addEventListener('readystatechange', ()=>{
            let result = xhr.response;
            console.log(result)
            if(result != null && (result.message=='already included' || result.message =='included')){
              options.hidden = true;
              queueView.hidden = false;
              let index = result.restaurant.queue.findIndex((element) => element.user == dni.value);
              personasPorDelante.innerHTML = index;
            }

          })

        })
    </script>
</body>

</html>