<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/header') %>
    <title>Quiénes somos | QRRestaurant</title>
</head>
<body>
  <%- include('../partials/primaryMenu') %>
  <div class="container">
    <div class="mt-3">
      <h3 class="mb-4">Preguntas más frecuentes (FAQ)</h3>
      
      <%- include('../partials/accordion', {
          id: 'myAccordion', 
          list: [
            {title: '¿Que es QRRestaurant?', description: 'La función principal de QRRestaurant es controlar el aforo de los restaurantes. Pero esta no es su única función. En la web hay una gran cantidad de restaurantes registrados de los que puedes consultar una gran cantidad de información.'},
            {title: '¿Para que sirven los códigos QR?', description: 'Los códigos QR sirven para acceder y salir del restaurante. Cuando vas a entrar a un restaurante y escaneas el QR, se comprobará si hay aforo disponible y, del mismo modo, cuando vayas a salir deberás escanear de nuevo el QR para poder salir.'},
            {title: '¿Cómo puedo entrar a un restaurante con QRRestaurant?', description: 'Para entrar a un restaurante, en primer lugar debes estar registrado y haber iniciado sesión. En la esquina superior derecha deberás pulsar escanear QR y seguir los pasos hasta que aparezca el QR en pantalla. Una vez que tengas el QR, lo debes mostrar en la puerta del restaurante, en las barreras. Cuando las barreras han terminado de registrar su presencia, las puertas se abrirán y entonces podrás entrar.'},
            {title: '¿Qué pasa si el restaurante está lleno?', description: 'Si el restaurante está lleno, tienes dos opciones. Podrás acceder a una lista de restaurantes cercanos o podrás ponerte en cola de espera para cuando haya aforo disponible.'},
            {title: '¿Qué otras funcionalidades hay aparte de escanear el código QR?', description: 'Además de escanear el QR para entrar y salir de los restaurantes, también puedes consultar información relevante de los restaurantes tales como la carta, el aforo, el aforo ocupado en el momento que estás consultando, la ubicación del restaurante, etc. También podrás valorar los restaurantes y buscar por ubicación, tipo de comida, nombre y por valoraciones.'}
          ]
        }) 
      %> 

    </div>
  </div>    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>   
</body>
</html>